<h1> Stupid Coaching </h1>
<div class="askbanner">
<p> <%= @question %> </p>
<p> -You </p>
</div>
<div class="ansbanner">
<p id="answer"> <%= @answer %> </p>
<p id="yourcoach"> -Your coach </p>
</div>
<%= link_to 'Ask a new question', "/ask" %>
